<!-- Side widgets-->
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-unstyled mb-0">
                        <li><a href="#!" style="text-decoration:none; color:inherit;">IoT Software</a></li>
                        <li><a href="#!" style="text-decoration:none; color:inherit;">IoT News </a></li>
                        <li><a href="#!" style="text-decoration:none; color:inherit;">IoT Hardware</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Side widget-->
      <div class="card mb-4">
          <div class="card-header">List Berita</div>
          <a href="/berita2" style="text-decoration:none; color:inherit; color:#548CFF"><div class="card-body" > Menkominfo: Perangkat IoT di Indonesia Diperkirakan Meningkat hingga 678 juta Tahun 2025</div></a>
          <a href="/berita3" style="text-decoration:none; color:inherit; color:#548CFF"><div class="card-body"> Dorong Penetrasi IoT, Alita Gandeng Dua Perguruan Tinggi</div></a>
          <a href="/homepage" style="text-decoration:none; color:inherit; color:#548CFF"><div class="card-body"> Avaro Rilis Produk IoT Mulai dari Bohlam Smart LED hingga Kamera Keamanan</div></a>
          <a href="/berita4" style="text-decoration:none; color:inherit; color:#548CFF"><div class="card-body"> Perangkat IoT Bakal Tumbuh di 2022</div></a>
      </div>

    </div>
  </div>
</div>
<footer class="py-5 bg-dark">
<div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>
